mat-icon{
    vertical-align: middle;
    padding: 2px;
    color: blue;
}

.pages a{
    text-decoration: none;
    height: 40px; 
  }

.pages a:hover{
    background-image: linear-gradient(to right, purple,black);
    box-shadow: 9px 5px 8px rgb(137, 137, 199);
}

 

 