 <div class="bg-black">
 <div class="admin">
    <img  src="https://cdn.dribbble.com/users/1894420/screenshots/11480421/media/e201bb7f7076f4c566f35d6a7d939403.gif" alt="">
    <b><h2 class="flex flex-col items-center">Sales&Productions</h2></b>
    <b><p class="flex flex-col items-center">adminsales@gmail.com</p></b>
 </div>

 <mat-divider></mat-divider>

 <div class="pages flex flex-col items-center my-8">
    <h3>Pages</h3>
    <a routerLink="" class="my-4"><h3 class="text-white"><mat-icon >dashboard</mat-icon> &nbsp; DashBoard</h3></a>
    <a routerLink="gallery" class="my-4"><h3 class="text-white"><mat-icon>collections</mat-icon> &nbsp; Gallery</h3></a>
    <a routerLink="customers" class="my-4"><h3 class="text-white"> <mat-icon>group</mat-icon> &nbsp; Customers</h3></a>
    <a routerLink="leads" class="my-4"><h3 class="text-white"> <mat-icon>manage_accounts</mat-icon> &nbsp; Leads</h3></a>
</div>

<mat-divider></mat-divider>
 
  
</div>