<!-- card -->
<div class="card">
    
    <mat-card class="cards" >
        <app-card
        bg="bg-gradient-to-r from-red-700  to-black"
        icon="precision_manufacturing"
        content="Productions"
        total="3000"
        ></app-card>
    </mat-card>
      
    <mat-card>
        <app-card
        bg="bg-gradient-to-r from-blue-700  to-black"
        icon="point_of_sale"
        content="Sales"
        total="2500"
        ></app-card>
    </mat-card>

    <mat-card>
        <app-card
        bg="bg-gradient-to-r from-green-700  to-black"
        icon="groups"
        content="Employee"
        total="105"
        ></app-card>
    </mat-card>
      
    <mat-card>
        <app-card
        bg="bg-gradient-to-r from-yellow-700  to-black"
        icon="monetization_on"
        content="Profit"
        total="90%"
        ></app-card>
    </mat-card>
     
</div>

<!-- areachart -->
<div>
    <app-area-chart></app-area-chart>
</div>


<!-- table and piechart -->
<div class="parent">
    <!-- table -->
    <div>
        <app-table></app-table>
    </div>

    <!-- piechart -->
    <div>
        <app-pie-chart></app-pie-chart>
    </div>
</div>